---
- name: Conditions in playbook
  hosts: all
  tasks:
  - name: Install the httpd package if the distribution is Centos
    yum:
     name: httpd
     state: present
    when: ansible_distribution == 'CentOS'

  - name: Install the apache2 package if the distribution is Ubuntu
    apt:
     name: apache2
     state: present
    when: ansible_distribution == 'Ubuntu' 



